# ======================================================
# NEXUS TV ENTERPRISE (GSI) — ENVIRONMENT CONFIGURATION
# ======================================================

# Puertos en Host (Puertos lejanos no comunes para evitar colisiones)
HOST_DB_PORT=25432
HOST_API_PORT=23002
HOST_WEB_PORT=28080

# Base de Datos PostgreSQL
PG_HOST=db
PG_PORT=5432
PG_USER=tv
PG_PASSWORD=Gs1$2099Dr#24zXcv
PG_DATABASE=nexus_tv

# Entorno de Node.js
NODE_ENV=production
PORT=3002

# Rutas de almacenamiento
MEDIA_DIR=/app/media
